*.db
*.png
*.bmp
*.bmp
*.PuCrunch
*.pcx
*.pcx
*.tga
*.exe
*.dsk
*.zip
demo/*.inc
*.bin
*.dat
*.dcu
*.aPLib
*.pscompr
*.psgcompr
*.soniccompr
*.sms
*.sym
*.renamed
*.dll
*.gif
*.ini
*.ddp
/source/.vs/
/source/bin/
*.user
/source/obj/
/source/GUI/bin/
/source/GUI/obj/
/*.exe
/*.pdb
/*.exe.config
bin/
obj/
.vs/
launchSettings.json
_ReSharper.Caches/
