version: 0.63.{build}
image: Visual Studio 2022
configuration: Release
platform: x86
before_build:
- cmd: nuget restore source\BMP2Tile.sln
build:
  verbosity: minimal
after_build:
- cmd: |
    appveyor DownloadFile https://github.com/maxim-zhao/bmp2tilecompressors/releases/latest/download/bmp2tilecompressors.zip
    7z x bmp2tilecompressors.zip
    7z a bmp2tile.zip .\source\bmp2tile\bin\x86\Release\net48\BMP2Tile.exe .\source\GUI\bin\x86\Release\net48\BMP2TileGUI.exe readme.* license gfxcomp*.dll
artifacts:
- path: 'bmp2tile.zip'